*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    border-left: 0.1px solid  rgba(255, 255, 255, 0.463);
    background-color: rgba(255, 255, 255, 0.166);
    width: 15px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgb(244, 123, 79);
}
:target {
    scroll-margin-top: .8em;
}
html,body{
    height: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(to right , #0c2b5a , #041329);
    color: rgb(255, 255, 255);
    font-family: 'Hammersmith One', sans-serif; 
    overflow-x:hidden;
}
* html .container{
    height: 100%;
}
.container{
    position: relative;
    min-height: 100%;
    display: grid;
    margin-bottom: 5vw;
    grid-template-columns: 0.8fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.2fr 0.9fr 0.8fr;
    grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar grid1 grid2 grid3"
    "sidebar content1 content2 content2"
    "sidebar content3 content3 content3"
    "sidebar content4 content4 content4"
    ;
}

/*ANIMAÇÕES*/
@keyframes slide{
    from{
        transform: translate3d(-50px,0px,0px);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }    
}
@keyframes slideLeft{
    from{
        transform: translate3d(150px,0,0);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }    
}
@keyframes slideTop{
    from{
        transform: translate3d(0px,100px,0);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }    
}

/*TOPO SITE*/
nav{
    animation-name: slide;
    animation-duration: 1s;
    padding: 25px;
    grid-area: nav;
}
nav h1{
    color: rgb(247, 122, 77);
    margin-bottom: 3vw;
    font-size: 50px;
    display: flex;
    position: relative;
    
}
nav h2{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.983);

}
nav p{
    text-align: justify;
    color: rgba(216, 239, 255, 0.843);

}
nav svg{
    font-size: 30px;
    margin: 1vw;
    
}


/*GRID-1*/
.grid1{
    grid-area: grid1;
    padding: 25px;
}
.text{
    animation-name: slide;
    animation-duration: 1s;
    font-family: 'Hammersmith One', sans-serif;
    white-space: nowrap;
    margin: 20px;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: rgba(194, 228, 255, 0.984);
}
#btnCV{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 1vw 50px;
    background-color: rgb(255, 111, 0);
    color: white;
    border-style: none;
    cursor: pointer;
}
#btnCV:hover{
    background-color: rgb(249, 98, 43);
}


/*GRID-2*/
.grid2{
    padding: 25px;
    grid-area: grid2;
}


/*COMPETÊNCIAS*/
.grid3{
    animation-name: slideLeft;
    animation-duration: 1s;
    padding: 25px;
    grid-area: grid3;
}
.grid3 .skill-item{
    margin-top: 0.5vw;
    flex: 0 0 100%;
    max-width: 100%;
}
.grid3 .skill-item h5{
    line-height: 2vw;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.grid3 .skill-item .progress{
    margin-bottom: 30px;
    background-color: rgb(222, 253, 255);
    height: 7px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.grid3 .skill-item .skill-percent{

    position: absolute;
    right: 0;
    color: rgb(195, 248, 255);
    top: -40px;
    font-weight: 400;
    font-size: 18px;

}
.grid3 .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(242, 98, 46);
    
}


/*SIDEBAR -lado esquerdo*/
.sidebar{
    font-family: 'Spline Sans Mono', monospace;
    border-right: 10px solid rgba(14, 9, 59, 0.583);
    padding: 20px 0;
    grid-area: sidebar;
    position: relative;
    text-align: justify;
    height: 42vw;
}
.sidebar svg{
    margin: 0 0.7vw
}

.sidebarContainer img{    
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    margin-bottom: 3vw;
}
.sidebarContainer{
    margin-top: 5vw;
}

.sidebarContainer h3{
    color: white;
    padding: 10px ;
    font-size: 30px;
}
.sidebarContainer a{
    text-decoration: none;
}
.sidebarContainer h3:hover{
    transform: translate3d(0,10px,10px);
    transition: 0.3s;
    padding: 30px 20px;
    background-color: rgba(14, 9, 59, 0.583);
    color: rgb(244, 123, 79);
}

/*BANCO DE DADOS*/
.content1{
    animation-name: slideTop;
    animation-duration: 2s;
    
    padding: 0 2.5vw;
    grid-area: content1;
}
.content1 .skill-item{
    margin-top: 0.6vw;
    flex:  100%;
    width: 100%;
    max-width: 100%;
}
.content1 .skill-item h5{
    line-height: 2vw;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.content1 .skill-item .progress{
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    height: 7px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.content1 .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: rgb(195, 248, 255);
    top: -40px;
    font-weight: 400;
    font-size: 18px;
}
.content1 .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(66, 65, 65, 0.716);
}


/*FERRAMENTAS DESIGN GRÁFICO*/
.content2{
    animation-name: slideTop;
    animation-duration: 2s;
    padding: 0 2.5vw;
    grid-area: content2;
}
.content2 .skill-item{
    margin-top: 0.5vw;
    flex:  100%;
    width: 100%;
}
.content2 .skill-item h5{
    line-height: 2vw;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.content2 .skill-item .progress{
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    height: 7px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.content2 .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: rgb(195, 248, 255);
    top: -40px;
    font-weight: 400;
    font-size: 18px;
}
.content2 .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #f9be83;
}
.content2 .skill-item .progress #ps{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #83c0f9;
    
}
.content2 .skill-item .progress #xd{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #9e3cf3;
}
.content2 .skill-item .progress #figma{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #8afba1;
}

/*FORMAÇÃO ACADÊMICA*/
.content3{
    border-radius: 5px;
    color: #0c2b5a;
    padding: 30px 10px 30px;
    background: white;
    grid-area: content3;
    animation-name: slideTop;
    animation-duration: 1.9s;
    margin: 2vw 2vw;
}
.content3 h1{
    color: orange;
}
.study{
    padding: 0 35px;
}


/*PROJETOS*/
.content4{
    grid-area: content4;
    padding: 25px;
}
.content4 h1{
    color: rgb(247, 122, 77);
    font-size: 50px;
    display: flex;
    position: relative;
    
}
.content4 hr{
    margin: 4px;
    margin-left: 0;
    width: 15%;
    height: 1px;
    border: 1px solid rgb(247, 122, 77);
}
.content4 #line{
    width: 20%;
    margin: 5px 1vw 2vw;
}
.content4 svg{
    font-size: 30px;
    margin: 1vw;
    
}
.content4 .projectsContainer{
    color: #041329;
    display: grid;
    grid-template-areas: 
    "project1 project2 project3";
    grid-gap: 2vw;
    height: 8vw;
    border-radius: 5px;
    margin: 1vw 1vw 5vw;

}
.content4 .projectsContainer p{
    margin-left: 1vw;
    margin-top: 10px;
}
.content4 .projectsContainer a{
    text-decoration: none;
}
.content4 .projectsContainer svg{
    margin: 0 auto;
}
.content4 .projectsContainer #lineVertical{
    margin-top: 2.3vw;
    height: 5vw;
    border-right: 3px solid orange;
    float: left;
}

.content4 .projectsContainer .project1{
    padding: 1.5vw;
    border-radius: 5px;
    background-color: white;
    grid-area: project1;
}
.content4 .projectsContainer .project2{
    padding: 1.5vw;
    border-radius: 5px;
    background-color: white;
    grid-area: project2;
}
.content4 .projectsContainer .project3{
    padding: 1.5vw;
    border-radius: 5px;
    background-color: white;
    grid-area: project3;
}
.content4 h1{
    color: rgb(247, 122, 77);
}
.content4 h2{
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: #0c2b5a;
}
.content4 h2:hover{
    color: #f39f4c;
}
hr{
    margin: 20px 0;
}


/*FOOTER*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    background: #041329;
    border-top: 8px solid rgb(255, 134, 36);
    width: 100%;
    height: 280px;
    font-family: "Open Sans";
    color: #fff;
}
.footer-content{
    margin: 2vw;
    position: relative;
    border-bottom: 10px solid black 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
footer svg:hover{
    color: orange;
}
footer a:hover{
    color: orange;
}
.socials a:hover i{
    color: orange;
}

.footer-bottom{
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 7vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: bolder;
}
@media (max-width: 1440px){
    .container{
        position: relative;
        min-height: 100%;
        display: grid;
        margin-bottom: 5vw;
        grid-template-columns: 0.8fr 1.5fr 1fr;
        grid-template-rows: 0.1fr 1.2fr 0.9fr;
        grid-template-areas: 
        "sidebar nav nav "
        "sidebar grid1 grid2"
        "sidebar grid3 content1"
        "sidebar content2 content3"
        "sidebar content4 content4"
        ;
    }
}
@media (max-width: 1220px){
    nav{
        width: 90%;
    }
    .sidebar{
        display: none;
    }
    .grid3 h5{
        padding: 20px;
    }
    .content1{
        margin-top: 1vw;
        margin-bottom: 10vw;
    }
    .content1 h5{
        padding: 20px;
    }
    .content2 h5{
        padding: 20px;
    }
    .container{
        position: relative;
        min-height: 100%;
        display: grid;
        margin-bottom: 5vw;
        grid-template-columns: 0.8fr 0.1fr;
        grid-template-rows: 0.1fr 0.8fr;
        grid-template-areas: 
        "sidebar nav nav"
        "sidebar nav  nav"
        "grid2 grid2 grid3"
        "sidebar grid3 grid3"
        "sidebar content1 content1"
        "sidebar content2 content2"
        "sidebar content3 content3 "
        "sidebar content4 content4 "
        ;
    }
}
@media (max-width: 937px){
    nav{
        width: 90%;
    }
    .sidebar{
        display: none;
    }
    
    .container{
        position: relative;
        padding-bottom: 10vw;
        min-height: 100%;
        display: grid;
        margin-bottom: 5vw;
        grid-template-columns: 0.8fr 1.5fr;
        grid-template-rows: 0.1fr 1.2fr;
        grid-template-areas: 
        "nav nav"
        "grid1 grid1"
        "grid2 grid2"
        "grid3 grid3"
        "content1 content1"
        "content2 content2"
        "content3 content3 "
        "content4 content4 "
        ;
    }
    .content4 .projectsContainer #lineVertical{
        margin-top: 2.3vw;
        height: 24vw;
        border-right: 3px solid orange;
        float: left;
    }
    .content4 .projectsContainer .project1{
        padding: 40px;
    }
    .content4 .projectsContainer .project2{
        padding: 40px;
    }
    .content4 .projectsContainer .project3{
        padding: 40px;
    }
}
@media (max-width: 780px){
    nav{
        width: 90%;
    }
    .sidebar{
        display: none;
    }
    .content4 .projectsContainer{
        display: block;
    }
    .content4 .projectsContainer .project2{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    #btnCV{
        padding: 20px 50px;
    }
    .content4 .projectsContainer p{
        font-size: 20px;
        text-align: center;
    }
    footer{
        margin-top: 20vw;
        position: relative;
        bottom: 0;
        left: 0;
        background: #041329;
        border-top: 8px solid rgb(255, 134, 36);
        width: 100%;
        height: 550px;
        font-family: "Open Sans";
        color: #fff;
    }
    .footer-content{
        margin: 0;
        
        position: relative;
        width: 100%;
        border-bottom: 400px solid black ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .container{
        position: relative;
        padding-bottom: 10vw;
        min-height: 100%;
        display: grid;
        grid-template-areas: 
        "nav nav"
        "grid1 grid1"
        "grid2 grid2"
        "grid3 grid3"
        "content1 content1"
        "content2 content2"
        "content3 content3 "
        "content4 content4 "
        ;
    }
}
@media (max-width: 550px){
    nav svg{
        display: none;
    }
    nav h1{
        text-align: center;
    }
    label{
        display: block;
    }
    nav h2{
        font-size: larger;
        white-space: nowrap;
    }
    nav p{
        font-weight: ;
        text-align: center;
        font-size: 19px;
    }
    
    footer{
        margin-top: 40vw;
        height: 50vw;
        position: relative;
        bottom: 0;
        left: 0;
        background: #041329;
        border-top: 8px solid rgb(255, 134, 36);
        width: 100%;
        height: 550px;
        font-family: "Open Sans";
        color: #fff;
    }
    .footer-content{
        margin: 0;
        position: relative;
        width: 100%;
        border-bottom: 100px solid black ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .socials li{
        margin: 5vw;
    }
    .socials{

        display: block;
     }
    .socials svg{
        width: 40px;
        height: 40px;
    }
   
}